.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort{

    /* border: 1px solid black; */
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888 ;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}


.shopcategory-products{
     /* border :1px solid black; */
     width: 95%;
    
     margin: 20px auto;
     /* padding: 30px 30px; */
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     row-gap: 60px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    background-color: #ededed;
    color: #787878;
    border-radius:38px ;
    font-size: 18px;
    font-weight: 500;
}

.btm-fields{
    
}